body {
    --light-shade: hsl(0, 0%, 95%);
    --tooltip-bg-color: #c0c0c0;
}
@media (prefers-color-scheme: dark) {
    body {
        --light-shade: hsl(0, 0%, 20%);
        --tooltip-bg-color: #303030;
    }
}

html {
    height: 100%;
}
body, #non-footer, .inner {
    display: flex;
    flex-direction: column;
}
body {
    --border-radius: 0.3rem;
    --button-size: 3em;
    --line-height: 1.6;
    --outline-offset: 0.15em;
    height: 100%;
    margin: 0;
}
#non-footer, .inner, #main {
    flex: 1;
}
#non-footer {
    overflow-y: auto;
}
#non-footer > header {
    text-align: center;
    background-color: var(--medium-tint);
    font-size: 2em;
    padding: 0.1em 0 0.1em 0;
}
#main, #newbie-info {
    padding: 0.2em 1em;
    font-size: 1.2em;
    line-height: var(--line-height);
}
#newbie-info {
    color: var(--text-secondary);
}

@media(min-width: 640px) {
    body .inner, footer {
        margin: 0 3em;
    }
}
@media(min-width: 800px) {
    #main, #newbie-info, .menu-body p {
        text-align: justify;
    }
}
footer {
    position: sticky;
    bottom: 0;
    z-index: 40;

    display: flex;
    flex-direction: column;
}

#spotlight {
    position: relative;
    background-color: var(--light-shade);
    border-radius: var(--border-radius);
    min-height: 2rem;
}
#spotlight-inner {
    display: flex;
    flex-direction: column;
    line-height: var(--line-height);
    font-size: 1.2em;
}
#spotlight-inner > div {
    padding: 0.8em 1em;
}
#spotlight-inner > div:empty::after {
    content: "(Translation missing)";
    color: var(--text-secondary);
}
#spotlight-inner > div:not(:first-child) {
    border-top: 1px solid var(--heavy-tint);
}
#spotlight .collapse-btn {
    cursor: pointer;
    background-color: var(--light-tint);
    color: var(--text-secondary);
    border-radius: var(--border-radius);
    border: 1px solid var(--heavy-tint);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
}
#spotlight .collapse-btn:hover {
    background-color: var(--medium-tint);
}
#spotlight .collapse-btn:active {
    background-color: var(--heavy-tint);
}
#spotlight.collapsed #spotlight-inner {
    display: none;
}
#spotlight .collapse-btn::after {
    content: "▼";
}
#spotlight.collapsed .collapse-btn::after {
    content: "▲";
}

.toolbar {
    background-color: var(--light-shade);
    display: flex;
}
.gas {
    flex: 1 0 0;
}
.toolbar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    width: var(--button-size);
    max-height: var(--button-size);
    /*aspect-ratio: 1;*/
    font-size: 1em;

    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--heavy-tint);
    padding: 0;
}
@media(max-width: 400px) {
    .toolbar button > .label {
        font-size: 0.5em;
    }
}
@media(min-width: 400px) {
    .toolbar button > .label {
        font-size: 0.7em;
    }
}
.toolbar button[disabled] {
    cursor: not-allowed;
}
.toolbar button[disabled] .icon {
    fill: var(--text-secondary);
}
.toolbar button:not([disabled]):hover, ol.orderable > li:hover, .button-group .menu-item:hover {
    background-color: var(--medium-tint);
    cursor: pointer;
}
.toolbar button:not([disabled]):active, ol.orderable > li:active, .button-group .menu-item:active {
    background-color: var(--heavy-tint);
}
button .icon {
    max-height: 75%;
    max-width: 75%;
}
svg.icon {
    fill: var(--text-color);
}
#button-play[data-state="paused"] #icon-pause {
    display: none;
}
#button-play[data-state="paused"] > .label::after {
    content: "Play";
}
#button-play[data-state="playing"] #icon-play {
    display: none;
}
#button-play[data-state="playing"] > .label::after {
    content: "Pause";
}

/* messages */
#msg-list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
#msg-list > li {
    display: flex;
    background-color: var(--heavy-tint);
    border-radius: var(--border-radius);
    margin: 0.6em 0 0 0;
    overflow: hidden;
}
.msg-text {
    flex-grow: 1;
    padding: 0.6em 1em;
    white-space: pre-line;
}
#msg-list > li.danger {
    color: var(--text-danger);
    background-color: var(--danger-tint);
}
#msg-list > li.warning {
    color: var(--text-warning);
    background-color: var(--warning-tint);
}
#msg-list > li.success {
    color: var(--text-success);
    background-color: var(--success-tint);
}

.close-btn, .back-btn {
    font-size: 1.5em;
    flex-grow: 0;
    width: 1.75em;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
}
.close-btn::before {
    content: "×";
}
.back-btn::before {
    content: "←";
}
.close-btn:hover, .back-btn:hover {
    background-color: var(--medium-tint);
}
.close-btn:active, .back-btn:active {
    background-color: var(--heavy-tint);
}

/* menus */
#modal-group {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    pointer-events: none;
    line-height: 1.4;
}
#modal-group > .overlay {
    position: fixed;
    z-index: 1990;
    width: 100%;
    height: 100%;
}
.menu:not(.disabled) ~ .overlay {
    pointer-events: auto;
    background-color: hsla(0, 0%, 10%, 0.8);
}
#modal-group > .menu {
    z-index: 2010;
    pointer-events: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4), 0 4px 12px 4px rgba(0,0,0,0.2);
}

.menu {
    background-color: var(--light-shade);
    border-radius: var(--border-radius);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 100%;
    max-width: 800px;
}
.menu.disabled {
    display: none;
}
.menu header {
    display: flex;
    overflow: hidden;
    align-self: stretch;
    flex-shrink: 0;
    border-bottom: 1px solid var(--heavy-tint);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.menu .heading {
    font-size: 1.2em;
    padding: 0.5em 1em;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.menu-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0.5em 1em;
    overflow-y: auto;
}
.menu-body.button-group {
    margin: 0;
    padding: 0;
    align-items: stretch;
}
form.menu-body {
    display: flex;
}
.menu-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-col {
    flex-direction: column;
    display: flex;
    align-items: start;
}
.menu-item, .all-ch-mi > * {
    margin: 0;
    padding: 0.5em;
}
ol.menu-item, .all-ch-mi > ol {
    margin-left: 1.5em;
}
select.menu-item, .all-ch-mi > select {
    padding: 0.15em 0.5em;
    margin: 0.5em;
}
input.menu-item, .all-ch-mi > input {
    padding: 0;
    margin-left: 0.8em;
}
.menu-body.button-group > .menu-item {
    margin: 0;
    padding: 0.75em 1.5em;
    user-select: none;
}
textarea.menu-item {
    align-self: center;
    margin: 0.5em;
}
.menu-body.button-group > .menu-item:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
ol.orderable > li {
    padding: 0.5em;
    background-color: var(--light-tint);
    border-radius: var(--border-radius);
}
.slider-number {
    min-width: 2em;
    display: flex;
    justify-content: center;
}
textarea {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-secondary);
    font-size: 1em;
}
select {
    padding: 0.15em 0.5em;
    font-size: 1em;
}
form button.menu-item {
    padding: 0.2em 1em;
    margin: 0.5em;
    font-size: 1em;
    background-color: var(--medium-tint);
    border: 1px solid var(--heavy-tint);
    border-radius: var(--border-radius);
    cursor: pointer;
    align-self: center;
}
form button:hover {
    background-color: var(--heavy-tint);
}
form button:active {
    background-color: var(--vheavy-tint);
}

.lang-box.selected, .lang-box:hover {
    background-color: var(--medium-tint);
    box-shadow: 0 0 0 var(--outline-offset) var(--medium-tint);
    outline-offset: var(--outline-offset);
    outline: 3px solid rgba(0, 0, 255, 0.4);
    cursor: pointer;
}
.lang-box:active {
    background-color: var(--heavy-tint);
}

.trin-scaff-elem {
    position: relative;
}
.trin-scaff-elem:hover > .trin-hover,
.trin-scaff-elem:focus > .trin-hover {
    visibility: visible;
}
.trin-hover {
    visibility: hidden;
    position: absolute;
    top: 1.1em;
    left: 0.5em;
    z-index: 100;

    color: var(--text-color);
    background-color: var(--tooltip-bg-color);
    opacity: 0.9;
    border-radius: 0.2em;
    padding: 0.2em 0.3em;
    white-space: nowrap;
}

.speaker {
    color: var(--emph-color);
    margin-right: 0.4em;
}
