body {
    --bg-color: white;
    --text-color: #202020;
    --emph-color: #101010;
    --link-color: #1a0dab;
    --vlink-color: #681da8;
    --text-danger: #dc3545;
    --text-warning: #ffc107;
    --text-success: #198754;
    --text-blue: #0d6efd;
    --text-secondary: #888;

    --light-tint: rgba(0, 0, 0, 0.02);
    --medium-tint: rgba(0, 0, 0, 0.05);
    --heavy-tint: rgba(0, 0, 0, 0.1);
    --vheavy-tint: rgba(0, 0, 0, 0.2);
    --danger-tint: rgba(255, 0, 0, 0.1);
    --warning-tint: rgba(255, 150, 0, 0.1);
    --success-tint: rgba(0, 255, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: #1b1e20;
        --text-color: #c8c8c8;
        --emph-color: #e4e4e4;
        --link-color: #8ab4f8;
        --vlink-color: #c58af9;
        --text-danger: #e74c3c;
        --text-warning: #f39c12;
        --text-success: #00bc8c;
        --text-blue: #3498db;

        --light-tint: rgba(255, 255, 255, 0.02);
        --medium-tint: rgba(255, 255, 255, 0.05);
        --heavy-tint: rgba(255, 255, 255, 0.1);
        --vheavy-tint: rgba(255, 255, 255, 0.2);
    }
    .darken {
        filter: brightness(.8) contrast(1.2);
    }
    .white-back {
        background-color: white;
    }
    .dark-invert {
        filter: brightness(.85) invert(1) brightness(.75) hue-rotate(180deg);
    }
}

body {
    font-size: 1.2em;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}

.hidden {
    display: none;
}
.nowrap {
    white-space: nowrap;
}
a {
    color: var(--link-color);
}
a:visited {
    color: var(--vlink-color);
}
a:not(:hover) {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: initial;
    color: var(--emph-color);
}
.danger {
    color: var(--text-danger);
}
.success {
    color: var(--text-success);
}
.warning {
    color: var(--text-warning);
}
.secondary {
    color: var(--text-secondary);
}
strong, em {
    color: var(--emph-color);
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid var(--text-color);
    padding: 0.1rem 0.5rem;
}

/* numbered headings */
.toc {
    background-color: var(--heavy-tint);
    padding: 1em 1em 1em 3em;
}
.toc li {
    padding-left: 0.5em;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}
.toc::before {
    content: "Table of Contents";
    display: block;
    margin-bottom: 0.5em;
    color: var(--emph-color);
    font-size: 1.5em;
}
h2:target, h3:target, h4:target, h5:target, h6:target, li:target {
    background-color: var(--heavy-tint);
    box-shadow: 0px 0px 5px 10px var(--heavy-tint);
    scroll-margin-top: 1em;
}

.numheads {counter-reset: section;}
.numheads h2 {counter-reset: subsection;}

.numheads h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}
.numheads h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}
.numheads h2::before, .numheads h3::before {
    color: var(--text-secondary);
    font-size: 0.9em;
}
