/* color scheme ============================================================= */

body {
    --text-color: #202020;
    --emph-color: #101010;
    --link-color: #1a0dab;
    --vlink-color: #681da8;
    --text-danger: #dc3545;
    --text-warning: #ffc107;
    --text-success: #198754;
    --text-blue: #0d6efd;
    --text-secondary: #888;

    --bg-color: white;
    --danger-tint: rgba(255, 0, 0, 0.1);
    --warning-tint: rgba(255, 150, 0, 0.1);
    --success-tint: rgba(0, 255, 0, 0.1);
    --light-tint: rgba(0, 0, 0, 0.02);
    --medium-tint: rgba(0, 0, 0, 0.05);
    --heavy-tint: rgba(0, 0, 0, 0.1);
    --vheavy-tint: rgba(0, 0, 0, 0.2);
    --light-shade: hsl(0, 0%, 95%);

    --border-radius: 0.3rem;
    --button-size: 4.5em;
}
@media (prefers-color-scheme: dark) {
    body {
        --text-color: #c8c8c8;
        --emph-color: #e4e4e4;
        --link-color: #8ab4f8;
        --vlink-color: #c58af9;
        --text-danger: #e74c3c;
        --text-warning: #f39c12;
        --text-success: #00bc8c;
        --text-blue: #3498db;

        --bg-color: #1b1e20;
        --light-tint: rgba(255, 255, 255, 0.02);
        --medium-tint: rgba(255, 255, 255, 0.05);
        --heavy-tint: rgba(255, 255, 255, 0.1);
        --vheavy-tint: rgba(255, 255, 255, 0.2);
        --light-shade: hsl(0, 0%, 20%);
    }
    .darken {
        filter: brightness(.8) contrast(1.2);
    }
    .white-back {
        background-color: white;
    }
    .dark-invert {
        filter: brightness(.85) invert(1) brightness(.75) hue-rotate(180deg);
    }
}

/* structural =============================================================== */

html, body {
    height: 100%;
}
body, #non-footer, .inner {
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    font-size: 1.2em;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}
.hidden {
    display: none;
}
#non-footer, .inner, main {
    flex: 1;
}
#non-footer {
    overflow-y: auto;
}
#non-footer > header {
    text-align: center;
    background-color: var(--medium-tint);
    font-size: 2em;
    padding: 0.1em 0 0.1em 0;
}
main {
    padding: 0.2em 1em;
    font-size: 1.2em;
}
@media(min-width: 640px) {
    body .inner, footer {
        margin: 0 3em;
    }
    main, .menu-body p {
        text-align: justify;
    }
}
footer {
    position: sticky;
    bottom: 0;
    z-index: 40;

    display: flex;
    flex-direction: column;
}

#spotlight-parent {
    position: relative;
    background-color: var(--light-shade);
    border-radius: var(--border-radius);
    min-height: 2rem;
}
#spotlight {
    line-height: 2;
    font-size: 1.2em;
    margin: 0.8em 1em;
}
#spotlight-parent .collapse-btn {
    cursor: pointer;
    background-color: var(--light-tint);
    color: var(--text-secondary);
    border-radius: var(--border-radius);
    border: 1px solid var(--heavy-tint);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
}
#spotlight-parent .collapse-btn:hover {
    background-color: var(--medium-tint);
}
#spotlight-parent .collapse-btn:active {
    background-color: var(--heavy-tint);
}
#spotlight-parent.collapsed #spotlight {
    display: none;
}
#spotlight-parent .collapse-btn::after {
    content: "▼";
}
#spotlight-parent.collapsed .collapse-btn::after {
    content: "▲";
}

.toolbar {
    background-color: var(--light-shade);
    display: flex;
}
.gas {
    flex: 1 0 0;
}
.toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    width: var(--button-size);
    max-height: var(--button-size);
    aspect-ratio: 1;

    background-color: transparent;
    border: 1px solid var(--heavy-tint);
    padding: 0;
}
.toolbar button[disabled] {
    cursor: not-allowed;
}
.toolbar button[disabled] .icon {
    fill: var(--text-secondary);
}
.toolbar button:not([disabled]):hover, ol.orderable > li:hover {
    background-color: var(--medium-tint);
    cursor: pointer;
}
.toolbar button:not([disabled]):active, ol.orderable > li:active {
    background-color: var(--heavy-tint);
}
button .icon {
    max-height: 75%;
    max-width: 75%;
}
svg.icon {
    fill: var(--text-color);
}
#button-play[data-state="paused"] #icon-pause {
    display: none;
}
#button-play[data-state="playing"] #icon-play {
    display: none;
}

/* messages */
#msg-list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
#msg-list > li {
    display: flex;
    background-color: var(--heavy-tint);
    border-radius: var(--border-radius);
    margin: 0.6em 0 0 0;
    overflow: hidden;
}
.msg-text {
    flex-grow: 1;
    padding: 0.6em 1em;
    white-space: pre-line;
}
#msg-list > li.danger {
    color: var(--text-danger);
    background-color: var(--danger-tint);
}
#msg-list > li.warning {
    color: var(--text-warning);
    background-color: var(--warning-tint);
}
#msg-list > li.success {
    color: var(--text-success);
    background-color: var(--success-tint);
}

.close-btn {
    font-size: 1.5em;
    flex-grow: 0;
    width: 2.5rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
}
.close-btn::before {
    content: "×";
    transform: rotate(90deg);
}
.close-btn:hover {
    background-color: var(--medium-tint);
}
.close-btn:active {
    background-color: var(--heavy-tint);
}

/* menus */
#modal-group {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    pointer-events: none;
}
#modal-group > .overlay {
    position: fixed;
    z-index: 1990;
    width: 100%;
    height: 100%;
}
.menu:not(.disabled) ~ .overlay {
    pointer-events: auto;
    background-color: hsla(0, 0%, 10%, 0.8);
}
#modal-group > .menu {
    z-index: 2010;
    pointer-events: auto;
    box-shadow: var(--large-shadow);
}

.menu {
    background-color: var(--light-shade);
    border-radius: var(--border-radius);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 100%;
}
.menu.disabled {
    display: none;
}
.menu header {
    display: flex;
    overflow: hidden;
    align-self: stretch;
    flex-shrink: 0;
    border-bottom: 1px solid var(--heavy-tint);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.menu .heading {
    font-size: 1.2em;
    padding: 0.5em 1em;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.menu-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0.5em 1em;
    overflow-y: auto;
    max-width: 640px;
}
form.menu-body {
    display: flex;
}
.menu-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-col {
    flex-direction: column;
    display: flex;
    align-items: start;
}
.menu-item {
    margin: 0.5em;
}
ol.orderable > li {
    padding: 0.5em;
    background-color: var(--light-tint);
    border-radius: var(--border-radius);
}
.slider-number {
    min-width: 2em;
    display: flex;
    justify-content: center;
}
textarea {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-secondary);
    font-size: 1em;
}
select {
    font-size: 1em;
}
form button {
    padding: 0.2em 1em;
    font-size: 1em;
    background-color: var(--medium-tint);
    border: 1px solid var(--heavy-tint);
    border-radius: var(--border-radius);
    cursor: pointer;
    align-self: center;
}
form button:hover {
    background-color: var(--heavy-tint);
}
form button:active {
    background-color: var(--vheavy-tint);
}

.lang-box.selected, .lang-box:hover {
    background-color: var(--medium-tint);
    box-shadow: 0 0 0 0.2em var(--medium-tint);
    outline-offset: 0.2em;
    outline: 3px solid rgba(0, 0, 255, 0.4);
    cursor: pointer;
}
.lang-box:active {
    background-color: var(--heavy-tint);
}

/* generic ================================================================== */

a {
    color: var(--link-color);
}
a:visited {
    color: var(--vlink-color);
}
a:not(:hover) {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: initial;
    color: var(--emph-color);
}
.danger {
    color: var(--text-danger);
}
.success {
    color: var(--text-success);
}
.warning {
    color: var(--text-warning);
}
.secondary {
    color: var(--text-secondary);
}
strong, em {
    color: var(--emph-color);
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid var(--text-color);
    padding: 0.1rem 0.5rem;
}

/* numbered headings */
.numheads {counter-reset: section;}
.numheads h2 {counter-reset: subsection;}

.numheads h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}
.numheads h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}
.numheads h2::before, .numheads h3::before {
    color: var(--text-secondary);
    font-size: 0.9em;
}
