/* color scheme ============================================================= */

body {
    --text-color: #202020;
    --emph-color: #101010;
    --link-color: #1a0dab;
    --vlink-color: #681da8;
    --text-danger: #dc3545;
    --text-warning: #ffc107;
    --text-success: #198754;
    --text-blue: #0d6efd;
    --text-secondary: #888;

    --bg-color: white;
    --danger-tint: rgba(255, 0, 0, 0.1);
    --warning-tint: rgba(255, 150, 0, 0.1);
    --success-tint: rgba(0, 255, 0, 0.1);
    --light-tint: rgba(0, 0, 0, 0.02);
    --medium-tint: rgba(0, 0, 0, 0.05);
    --heavy-tint: rgba(0, 0, 0, 0.1);
    --vheavy-tint: rgba(0, 0, 0, 0.2);
    --light-shade: hsl(0, 0%, 95%);

    --border-radius: 0.3em;
}
@media (prefers-color-scheme: dark) {
    body {
        --text-color: #c8c8c8;
        --emph-color: #e4e4e4;
        --link-color: #8ab4f8;
        --vlink-color: #c58af9;
        --text-danger: #e74c3c;
        --text-warning: #f39c12;
        --text-success: #00bc8c;
        --text-blue: #3498db;

        --bg-color: #1b1e20;
        --light-tint: rgba(255, 255, 255, 0.02);
        --medium-tint: rgba(255, 255, 255, 0.05);
        --heavy-tint: rgba(255, 255, 255, 0.1);
        --vheavy-tint: rgba(255, 255, 255, 0.2);
        --light-shade: hsl(0, 0%, 20%);
    }
    .darken {
        filter: brightness(.8) contrast(1.2);
    }
    .white-back {
        background-color: white;
    }
    .dark-invert {
        filter: brightness(.85) invert(1) brightness(.75) hue-rotate(180deg);
    }
}

/* structural =============================================================== */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
    text-align: center;
    background-color: var(--medium-tint);
    font-size: 2em;
    padding: 0.1em 0 0.1em 0;
}
main {
    padding: 0.2em 1em;
    line-height: 1.6;
}
@media(min-width: 640px) {
    body > .inner, footer .spotlight {
        margin: 0 3em;
    }
}
footer {
    position: sticky;
    bottom: 0;
    z-index: 40;

    display: flex;
    flex-direction: column;
}
footer .spotlight {
    background-color: var(--light-shade);
    display: flex;
    padding: 1em;
    border-radius: var(--border-radius);
}
.toolbar {
    background-color: var(--light-shade);
    display: flex;
    justify-content: space-around;
}
.toolbar-section {
    display: flex;
    align-items: center;
}
.toolbar button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border: 1px solid var(--heavy-tint);
    width: 4em;
    height: 4em;
}
.icon {
    width: 2.5em;
    height: 2.5em;
}
svg.icon {
    fill: var(--text-color);
}
#button-play[data-state="paused"] #icon-pause {
    display: none;
}
#button-play[data-state="playing"] #icon-play {
    display: none;
}

#msg-list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
#msg-list > li {
    display: flex;
    background-color: var(--heavy-tint);
    border-radius: var(--border-radius);
    margin: 0.6em 0 0 0;
    overflow: hidden;
}
.msg-text {
    flex-grow: 1;
    padding: 0.6em 1em;
    white-space: pre-line;
}
#msg-list > li.danger {
    color: var(--text-danger);
    background-color: var(--danger-tint);
}
#msg-list > li.warning {
    color: var(--text-warning);
    background-color: var(--warning-tint);
}
#msg-list > li.success {
    color: var(--text-success);
    background-color: var(--success-tint);
}

.close-btn {
    font-size: 1.5em;
    flex-grow: 0;
    width: 2.5rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
}
.close-btn::before {
    content: "×";
    transform: rotate(90deg);
}
.close-btn:hover {
    background-color: var(--medium-tint);
}
.close-btn:active {
    background-color: var(--heavy-tint);
}

/* generic ================================================================== */

a {
    color: var(--link-color);
}
a:visited {
    color: var(--vlink-color);
}
a:not(:hover) {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: initial;
    color: var(--emph-color);
}
.danger {
    color: var(--text-danger);
}
.success {
    color: var(--text-success);
}
.warning {
    color: var(--text-warning);
}
.secondary {
    color: var(--text-secondary);
}
strong, em {
    color: var(--emph-color);
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid var(--text-color);
    padding: 0.1rem 0.5rem;
}

/* numbered headings */
.numheads {counter-reset: section;}
.numheads h2 {counter-reset: subsection;}

.numheads h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}
.numheads h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}
.numheads h2::before, .numheads h3::before {
    color: var(--text-secondary);
    font-size: 0.9em;
}
